<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form_for_UUID</title>
</head>
<body>

    <!-- <form method="POST">
        <input type="email" name="username" placeholder="user name"><br>
        <input type="text" name="firstname" placeholder="first name"><br>
        <input type="text" name="lastname" placeholder="last name"><br>
        <input type="submit">
    </form> -->

    {{if .First}}
    USER NAME: {{.UserName}}<br>
    PASSWORD: {{.Password}} <br>
    FIRST {{.First}}<br>
    LAST {{.Last}}<br>
    {{else}}
    <h2><a href="/signup">signup</a></h2>
    {{end}}
    <br>
    <h2></h2>Go to <a href="/bar">the bar</a></h2>
    
</body>
</html>